<h1>Coaches</h1>
<header>
  <%= link_to "Coaches", "/coaches" %>
  <%= link_to "Athletes", '/athletes' %>
</header>
<body>
<% @coaches.desc_order.each do |coach| %>
<h3><%= coach.name %> - Created at: <%=coach.created_at %></h3>
<% end %>
</body>
