<h1><%= @coach.name %></h1>
<ul>
<li><p>Club: <%= @coach.club %></p></li>
<li><p>Recruiting: <%= @coach.recruiting_athletes %></p></li>
<li><p>Years of Experience: <%= @coach.years_experience %></p></li>
</ul>
